TELEGRAM_BOT_TOKEN="SUTITUYE_POR_EL_TUYO"
TELEGRAM_ALLOWED_USER_IDS="SUTITUYE_POR_EL_TUYO"
GROQ_API_KEY="SUTITUYE_POR_EL_TUYO"
OPENROUTER_API_KEY="SUTITUYE_POR_EL_TUYO"
OPENROUTER_MODEL="openrouter/free"
DB_PATH="./memory.db"
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"
